body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px; /*didn't know that there should be padding T.T*/
}

.title {
  background: #e3f4ff;
  margin: 10px; /*should be 8px*/
  padding: 12px; /*should be 8px*/
  margin-top: auto;
  font-size: 16px; /*missed this one*/
}

.content {
  background: #e3f4ff;
  margin: 10px; /*should be bottom only 8px*/
  padding: 12px; /*should be 16px 8px*/
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  text-align: center;
  padding: 12px; /*should be 8px*/
}

button {
  display: block;
  margin: 0 auto;
  background: white;
  padding: 10px 32px;
  border: 1px solid #eee;
}